/*Nav-bar*/
.navbar{
  padding:0.2rem 2rem;
  background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar-brand{
  font-size: 40px;
  font-family: 'Fruktur', cursive;
}
.navbar-item{
  font-size:17px;
  text-indent: 10px;
}

.nav-link{
  font-weight:500;
  color:#808080;
  font-family: 'Raleway', sans-serif;
}

.nav-link:hover{
  color:white;
}

/*container*/
.container{
  padding-top:150px;
}

.icon{
  font-size:30px;
}
